<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="phoenix.delta" >

    <!-- Internet permission for OneDrive -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- No permission needed for -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/xxhic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SessionPrep"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SessionStartActivity"
            android:label="@string/title_activity_session_start" >
        </activity>
        <activity
            android:name=".FreePlaySelection"
            android:label="@string/title_activity_free_play_selection" >
        </activity>
        <activity
            android:name=".GameSelection"
            android:label="@string/title_activity_game_selection" >
        </activity>
        <activity
            android:name=".TrialMain"
            android:label="@string/trial_main" >
        </activity>
        <activity
            android:name=".ForcedTrial"
            android:label="@string/trial_forced" >
        </activity>
        <activity
            android:name=".TrialSelection"
            android:label="@string/title_activity_trial_selection" >
        </activity>
        <activity
            android:name="droidrunjump.DroidRunJumpActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
        </activity>
        <activity
            android:name=".TrialWaitActivity"
            android:hardwareAccelerated="false"
            android:label="@string/title_activity_trial_wait" >
        </activity>
        <activity
            android:name="com.box.androidsdk.content.auth.OAuthActivity"
            android:label="@string/accounts"
            android:screenOrientation="landscape">
        </activity>
        <activity
            android:name=".DoneSessionActivity"
            android:label="@string/title_activity_done_session" >
        </activity>

         <activity
             android:name=".DoneFileUpload"
             android:label="@string/title_activity_done_file_upload">
         </activity>

        <!--Fruit Ninja Game-->
        <activity
            android:name="dev.emmaguy.fruitninja.ui.MainActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar" >
        </activity>

        <!--Brick Breaker Game-->
        <activity
            android:name="br.usp.ime.retrobreaker.GameActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:hardwareAccelerated="true"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/GameTheme" >
        </activity>
        <activity
            android:name="br.usp.ime.retrobreaker.MainActivity"
            android:label="@string/title_rb_main"
            android:screenOrientation="sensorPortrait" >
        </activity>
        <activity
            android:name="com.mystery_of_orient_express.game.android.AndroidLauncher"
            android:label="@string/moe_app_name"
            android:screenOrientation="landscape"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>


    </application>

</manifest>
